*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: default;
  /* outline: 1px solid green; */
}

::selection{
  background-color: transparent;
}

body{
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
  background-color: #060606;
  /* background: radial-gradient(#8d198d,#660866); */
  backdrop-filter: blur(3px);
}

#mainMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  color: white;
  z-index: 2;
  transition: all .3s;
  animation: aparece 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  filter: drop-shadow(1px 3px 3px #00000050);
}

@keyframes aparece {
  from{
    
    translate: 0 -600px;
  }
  to{
    translate: 0 0;
  }
}


#mainMenu .title{
  position: relative;
  /* background-color: green; */
}

#mainMenu .title .subtitle{
  display: flex;
  justify-content: space-between;
  font-size: small;

}

#mainMenu .title .subtitle p{
  padding: 3px 5px;
}

#mainMenu .title .subtitle p#version{
  color: grey;
}
#mainMenu .title .subtitle p:not(#version){
background-color: red;
border-radius: 16px;
}
#mainMenu .title h1{
  font-size: 100px;
  /* letter-spacing: 60px; */

}

#mainMenu .title::after{
  content: '';
  background-color: white;
  width: 80px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 70px;
  border-radius: 100%;
  animation: boing .3s ease-out infinite alternate ;
}

@keyframes boing{
  0%{
    top:30px;
    scale: 1.08 .95;
  }
  
  100%{
    top: 0;
    scale: 0.95 1.03;
  }
}


#mainMenu .options{
  margin-top: 50px;
  display: grid;
  place-items: center;
  gap: 20px;
}

#mainMenu .options button{
  all: unset;
  background-color: transparent;
  border: 2px solid white;
  min-width: 200px;
  padding: 24px 12px;
  text-align: center;
  font-weight: lighter;
  position: relative;
  overflow: hidden;
  transition: .3s;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#mainMenu .options button:hover{
  scale: 1.1;
}

#mainMenu .options button:active{
  scale: 0.95;
}

#mainMenu .options button::before{
  position: absolute;
  content: '';
  background-color: white;
  width: 1200px;
  height: 900px;
  top: 0;
  left: 100px;
  rotate: 45deg;
  mix-blend-mode: difference;
  transition: .3s ease-out;
  border-radius: 100%;
}

#mainMenu .options button:hover:before{
  left: -250px;
}

#mainMenu.started{
  opacity: 0;
  transform: translate(0,-100vh);
}


canvas{
  transition: .4s;
  border-radius: 20px;
  position: relative;
  background: #FFFFFF08;
background: radial-gradient(circle, #FFFFFF08 2.6%, #999 3%, #FFFFFF08 3.4%, #FFFFFF08 26.6%, #999 27%, #FFFFFF08 27.4%, #FFFFFF08 38.6%, #999 39%, #FFFFFF08 39.4%, #FFFFFF08 49.6%, #999 50%, #FFFFFF08 50.4%, #FFFFFF08 85.6%, #999 86%, #FFFFFF08 86.4%);
  background-size: 700px 700px;
  background-position: center;

}

#pauseMenu{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: .1s ease-in;
}

#pauseMenu.active{
  background-color: #00000070;
}



.goal{
  /* filter: brightness(200%); */
  scale: .95;
  /* box-shadow:  0 0 30px 15px #DD08DD; */
  animation: goal .03s infinite;
  background: radial-gradient(circle, #FFFFFF08 2.6%, white 3%, #FFFFFF08 8%, #FFFFFF08 26.6%, white 27%, #FFFFFF08 32%, #FFFFFF08 38.6%, white 39%, #FFFFFF08 44%, #FFFFFF08 49.6%, white 50%, #FFFFFF08 55%, #FFFFFF08 85.6%, white 86%, #FFFFFF08 91%);
  /* background-position: center; */

  background-size: 100px 100px;

}

@keyframes goal {
  0%{
    margin-left: 20px;
  }
  100%{
    margin-left: -20px;
  }
}

div.game{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  opacity: 0;
  transition: .3s ease-in;
  width: fit-content;
  position: relative;
  scale: .8;

}

div.game.started{
  opacity: 1;
}

div.scores{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 395px;
  position: absolute;
}

div[id^=scorePl]{

  position: relative;
  font-size: 40px;
  width: fit-content;
  color: white;
  opacity: .3;
}

div.scores div.mobile:first-child{
  rotate: 180deg;
}


div.mobileControls{
  position: absolute;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
